{% extends 'app_general/components/base.html' %}
<!-- title -->
{% block site_title %}ALL MENU{% endblock %}
<!-- content -->
{% block content %}
<div class="container" style="padding: 10px 50px">
  <h2>ALL MENU</h2>
  <!-- For each -->
  {% for food in foods %}
  <h3><a href="{% url 'food' food.id %}">{{food.title}}</a></h3>
  <p>{{food.price}} ฿</p>
  {% if food.is_premium %}
  <p>*** PREMIUM MENU ***</p>
  {% endif %}
  <hr />
  {% empty %}
  <h3>No data this here</h3>
  {% endfor %}
</div>
{% endblock %}
