{% extends 'app_general/components/base.html' %}
<!-- title -->
{% block site_title %}ALL MENU{% endblock %}
<!-- content -->
{% block content %}
<div>
  <h2>ALL MENU</h2>
  <!-- For each -->
  {% for food in foods %}
  <h3><a href="{% url 'food' food.id %}">{{food.title}}</a></h3>
  <p style="color: teal; font-weight: 500">{{food.price|floatformat:'g'}} ฿</p>
  {% if food.is_premium %}
  <p style="color: tomato">*** PREMIUM MENU ***</p>
  {% endif %}
  <p style="color: orange">
    Promotion end at: {{food.promotion_end_at|date:'j N Y'}}
  </p>
  <hr />
  {% empty %}
  <h3>No data this here</h3>
  {% endfor %}
</div>
{% endblock %}
