{% extends 'app_general/components/base.html' %}
<!-- title -->
{% block site_title %}About{% endblock %}
<!-- content -->
{% block content %}
<div>
  <h1>About page</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, maxime in
    incidunt itaque expedita nostrum facere quis nesciunt aliquid recusandae
    cupiditate optio perspiciatis, iure laudantium deserunt error perferendis
    soluta provident? Fugit nobis, aliquid, consequuntur tenetur obcaecati
    suscipit in quas illum eius provident quos laborum laboriosam ratione et
    rem! Unde, omnis.
  </p>
</div>
{% endblock %}

<!-- https://www.youtube.com/watch?v=BBL8W-lpNHw&t=2745s 1:33:46 -->
